* {
    margin: 0;
    padding: 0;
}



nav

.navigation li {
    text-align: center;
    display: inline;
}

.navButtons {
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: "Bodoni Moda", serif;
    text-decoration: none;
    margin: 0.3rem ;

    
}

.logo2{
    width: 300px;
}

.navButtons:hover {
    background-color: rgb(217, 215, 241);
}

.navigation {
    list-style: none;
    margin: auto;
    padding-top: 0.5%;
 
}


.imagenPrincipal {
    width: 100vw;
}

.contactomenu{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

    form{
        display: flex;
        flex-flow: column;
        background-color: rgb(217, 215, 241) ;
        width: 50%;
        height: 80%;
        padding: 20px;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(0,0,0,0.8) 0px 0px 50px;
        border-radius: 10px;
    }
    
    input, textarea{
        border: none;
        resize: none;
        outline: none;
        padding: 15px 0px;
        width: 80%;
        margin: 20px;
        transition: all 300ms;
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }
    
    input:focus, textarea:focus{
        border-bottom-color: #610061 ;
    }


.formularioprin {
 width: 100%;
margin-bottom: 20px;
padding: 7px;

}

.formdos {
    background-color: white;
    border-radius: 3px;
    color: #999;
    font-size: 0.8em;
    padding: 20px;
    margin: 0 auto;
    width: 300px;
}

.formdos {
    outline: none;
    width: 280px;
}

.formdos {
    border: solid 1px #ccc;
    padding: 10px;
}

.formdos:focus {
    border-color: #18a383;
}

.center-content {
    text-align: center;
}

.pijama-zafora-title {
    margin-top: 50px;
    text-align: center;
    font-family: "Bodoni Moda", serif;
    background-color: rgb(217, 215, 241);
}

.flex-container {
    margin-top: 4%;
    width: 100vw;
    display: flex;
    overflow-x: scroll;
}


.galeria-pijamas-1 {
    display: block;
    width: 100vw;
    height: 500px;
    object-fit: cover;
}

.flex-container::-webkit-scrollbar {
    width: 100vw;
    /* width of the entire scrollbar */
}

.flex-container::-webkit-scrollbar-track {
    background: transparent;
    /* color of the tracking area */
}

.flex-container::-webkit-scrollbar-thumb {
    background-color: rgb(217, 215, 241);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
}

.pijama-japon-title {
    width: 100vw;
    margin-top: 50px;
    text-align: center;
    font-family: "Bodoni Moda", serif;
    background-color: rgb(217, 215, 241);
}

.galeria-largos {
    display: flex;
    overflow-x: scroll;
    margin: auto;
    width: 100vw;
}

.pijama-japon {
    display: block;
    width: 100vw;
    height: 500px;
    object-fit: cover;
}

.galeria-largos::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

.galeria-largos::-webkit-scrollbar-track {
    background: transparent;
    /* color of the tracking area */
}

.galeria-largos::-webkit-scrollbar-thumb {
    background-color: rgb(217, 215, 241);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
}

.OfeNoticias {
    background-color: rgb(217, 215, 241);
    width: 400px;
    margin: auto;
    font-family: "Bodoni Moda", serif;
    text-align: center;
}

.textoEmail {
    background-color: rgb(217, 215, 241);
    width: 400px;
    margin: auto;
    font-family: "Bodoni Moda", serif;
    font-style: unset;
}

.footer {
    background-color: rgb(217, 215, 241);
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    margin: 30px;
}

.footer-list {
    display: flex;
    list-style: none;
    width: 100vw;
}

footer ul li {
    font-size: 1 rem;
    margin-left: 20%;
}

footer ul li a {
    color: blanchedalmond
}

footer ul li a :hover {
    color: white
}

.header {
    grid-area: header;
}
.boton0{
    display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: rgb(217, 215, 241);
	border: 1px solid rgb(217, 215, 241);
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
    background-color: white;

}
.boton12{

	display: inline-block;
	padding: 10px;
	margin-top: 10px;
    margin-left: 50%;
	text-decoration: none;
	color: rgb(217, 215, 241);
	border: 1px solid rgb(217, 215, 241);
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
    background-color: white;

    
    
    
    
}
.barrainicio{    
    text-align: center;
    font-family: "Bodoni Moda", serif;
    background-color: rgb(217, 215, 241);

}
.boton12:hover{
	background: rgb(217, 215, 241);
	color: #fff;
    
}


.navbar {
    grid-area: navbar;
}

.imagenPrincipal {
    grid-area: imagenPrincipal;
}

.footer {
    grid-area: footer;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.grid-conteiner {
    display: grid;
    gap: 10px;
    grid-template: "header" 100px "navbar" 100px "imagenPrincipal" 100px "footer" 100px;
}

@media (min-width: 900px) {
    .grid-conteiner {
        grid-template: "header " 100px "navbar" 50px "imagenPrincipal" auto "footer" 100px;
    }
}

@media (min-width: 600px) {
    .grid-conteiner {
        grid-template: "header " 100px "navbar" 50px "imagenPrincipal" auto "footer" 100px;
    }
}
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/*tarjetas-inicio*/
.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;


}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgb(217, 215, 241);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgb(217, 215, 241);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: rgb(217, 215, 241);
	border: 1px solid rgb(217, 215, 241);
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: rgb(217, 215, 241);
	color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}
/*tarjetas-final*/

