                            body {
                                background-color: white;
                            }
                            
                            .imagenPrincipal {
                                width: 100vw
                            }
                            
                            .footer {
                                background-color: rgb(217, 215, 241);
                                display: flex;
                                justify-content: space-around;
                                padding: 1rem;
                                margin: 30px;
                            }

                          